.product-card {
  width: 280px;
  padding: 15px;
  background: white;
  border-radius: 8px;
  text-align: center;
}

/* IMAGE FIX */
.product-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 6px;
}

/* TEXT SIZE */
.product-card h3 {
  font-size: 20px;
  margin: 10px 0;
}

.product-card p {
  font-size: 14px;
  min-height: 40px;
}

/* BUTTON */
.product-card button {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  background: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
}

.product-card button:disabled {
  background: gray;
}
